.landing-top-block .fp-tableCell{padding-bottom: 0;}
.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0; padding-bottom: 0 !important;}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block; outline: none;}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.landing-top-block{background: #6eecec;}
/*.absolute-bottom {position: absolute;bottom: -10px;left: -2px;}*/
.absolute-bottom{position: absolute;bottom: 0;left: -2px;min-height: 380px;}
.absolute-bottom:before{content: ''; position: absolute; left: 0; bottom: 0; background: #fff; width: 100%; height: 45%;}
.img-shape {width: calc(100% + 5px);}
.slider-screenshort{z-index: 1;}
.slider-screenshort img {max-width: 100%;height: auto;-webkit-filter: grayscale(0);filter: grayscale(0);}
.slider-screenshort .slick-active.slick-center img {-webkit-filter: grayscale(0);filter: grayscale(0);}
.slider-screenshort{margin-top:0}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.slider-screenshort{margin-top:0}
}
@media only screen and (max-width: 767px) {
.slider-screenshort{margin-top:0}
}
.slider-screenshort {clear: both;}
.slider-screenshot-active{padding:0 15px}
.slider-screenshot-active .slick-slide{padding:170px 0;-webkit-transition:all .5s ease 0;transition:all .5s ease 0;}
.slider-screenshot-active .slick-slide .singel-screenshot{-webkit-transition:all .5s ease 0;transition:all .5s ease 0;-webkit-transform:scale(1.70);transform:scale(1.70);}
.slider-screenshot-active .slick-slide.slick-active{z-index:99}
.slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform:scale(1.70);transform:scale(1.70); cursor: pointer;}
.slider-screenshot-active .slick-slide.slick-center{z-index:999}
.slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform:scale(2.19);transform:scale(2.19)}
.slider-screenshot-active .slick-slide.slick-center .singel-screenshot img {transform: scale(0.78,0.78);-webkit-transform: scale(0.78,0.78);}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.slider-screenshot-active .slick-slide{padding:150px 0}
.slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform:scale(2);transform:scale(2)}
.slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform:scale(3.4);transform:scale(3.4)}
}
@media only screen and (max-width: 767px) {
    .slider-screenshot-active .slick-slide{padding:50px 0}
    .slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform:scale(1.8);transform:scale(1.8)}
    .slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform:scale(2.8);transform:scale(2.8)}
}
.screenshot-center-active .slick-dots{margin-top:40px;text-align:center}
.screenshot-center-active .slick-dots li{display:inline-block;margin:0 12px;position:relative;line-height:0}
.screenshot-center-active .slick-dots li:after{position:absolute;content:"";background:#09c7e0;top:5px;left:0;width:40px;height:2px}
.screenshot-center-active .slick-dots li:last-child:after{display:none}
.screenshot-center-active .slick-dots li button{border:2px solid #09c7e0;width:10px;height:10px;padding:0;border-radius:50%;background:#09c7e0;text-indent:-9999px;position:relative}
.screenshot-center-active .slick-dots li button:after{position:absolute;content:"";background:rgba(1,193,206,0.3);top:-5px;left:-5px;width:16px;height:16px;border-radius:50%;z-index:999}
.screenshot-center-active .slick-dots li.slick-active button{background:#09c7e0}
.screenshot-center-active .slick-dots li.slick-active button:after{position:absolute;content:"";background:rgba(1,193,206,0.5);top:-5px;left:-5px;width:16px;height:16px;border-radius:50%;z-index:999}
/*.slider-screenshot-active .slick-current.slick-active.slick-center:before{content: "";background: url(../images/screenshot/hero2.png) no-repeat;background-size: auto auto;width: 100%;height: 100%;float: left;background-size: cover;position: absolute;top: 9px;left: 0;transform: scale(1.2,1.2);z-index: -1;}*/
.slider-screenshot-active .slick-list.draggable:before{content: "";background: url(../images/screenshot/hero2.png) no-repeat;background-size: auto auto;background-size: auto auto;background-size: auto auto;width: 800px;height: 525px;float: left;background-size: contain;position: absolute;top: 15px;left: 50%;transform: translateX(-50%);z-index: 1;}
.landing-get-started{background: #1fce99;}
.btn-insGreen.landing-get-started{margin-top: 10px;height: auto;line-height: normal; margin-top: 15px;padding: 10px 40px 12px 40px;font-size: 20px;}

.slider-screenshort {clear: both;position: absolute;width: 100%;top: 5%;}

/*.slider-screenshot-text-block.banner-title-block{visibility: hidden; opacity: 0;}*/
.slick-current.slick-active.slick-center .slider-screenshot-text-block.banner-title-block{visibility: visible; opacity: 1;}
.slider-screenshot-text-block.banner-title-block{position: relative;bottom: 10px;width: 620px;left: 50%;transform: translateX(-50%);z-index: 1; margin-bottom: 0;}
.slider-screenshot-text-block.banner-title-block h2{font-size: 34px;}
.slider-screenshot-text-block.banner-title-block h1{font-size: 36px;}

.slider.slider-for.slick-initialized.slick-slider.slick-dotted {padding-bottom: 25px;}
.slick-dots{position: absolute;bottom: 0;width: 100%;text-align: center;}
.slick-dots li{display: inline-block;}
.slick-dots li button{width: 12px; height: 12px; background: #eee; border: 0px solid #ccc; border-radius: 100px; font-size: 0; padding: 0; margin: 0 5px;}
.slick-dots li.slick-active button{background: #1fce99;}

.slider-screenshort .container {width: 100%;max-width: 780px;}
.slider-screenshot-active .slick-slide{padding: 156px 106px; opacity: 0; visibility: hidden;}
.slider-screenshot-active .slick-slide.slick-current {opacity: 1;visibility: visible;}
.slick-dots{bottom: -200%; z-index: 9;}
.slick-dots li button{background: #d2cfff;}
.slick-dots li.slick-active button{background: #534ae2;}

@media (max-width:1450px){
    
    #section0.landing-top-block .fp-tableCell{padding-bottom: 0;}
    /*.slick-list{padding-top: 180px !important;}
    .slider-screenshot-text-block.banner-title-block{top: -185px;}
    .slider-screenshot-active .slick-list.draggable::before{top: 195px;}*/
    
    .slider-screenshort{width: 100%;max-width: 850px;margin: 0 auto;position: relative;overflow: hidden;top: -80px;}
    .slider-screenshort .container{width: 100%;}
    .absolute-bottom{bottom: 0;left: -2px;min-height: 450px;}
    .absolute-bottom:before{content: ''; position: absolute; left: 0; bottom: 0; background: #fff; width: 100%; height: 52%;}
    /*.slider-screenshort {top: 0;}*/    
    .slider-screenshot-active .slick-list.draggable::before{width: 636px;height: 404px;}
    .slider-screenshot-active .slick-slide{padding: 115px 122px;}
    .slider-screenshot-active .slick-slide .singel-screenshot{-webkit-transform: scale(1.50);transform: scale(1.50);}
    .slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform: scale(1.50);transform: scale(1.50);}
    .slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform: scale(1.94);transform: scale(1.94);}
    /*.slick-list{padding-bottom: 180px !important;}*/    
    .slider-screenshot-text-block.banner-title-block h2{font-size: 32px;}
    .slider-screenshot-text-block.banner-title-block h1{font-size: 36px;}
    .btn-insGreen.landing-get-started{padding:10px 40px 12px 40px;margin-top: 10px;font-size: 20px;}
    .slider-screenshot-text-block.banner-title-block h2 span{color: #1fce99;}
	.slick-dots {bottom: -155%;}
}

@media (max-width:1380px){
    .absolute-bottom{bottom: 0;left: -2px;min-height: 450px;}
    .absolute-bottom:before{content: ''; position: absolute; left: 0; bottom: 0; background: #fff; width: 100%; height: 55%;}
}

@media (max-width:1299px){
    .absolute-bottom{bottom: 0;left: -2px;min-height:inherit;}
    .absolute-bottom:before{content: ''; position: absolute; left: 0; bottom: 0; background: #fff; width: 100%; height: 0;}
    
    .slider-screenshot-text-block.banner-title-block h2 span{color: #484848;}
    
/*  .slick-list{padding-top: 0 !important;padding-bottom: 110px !important;}
    .slider-screenshot-active .slick-list.draggable::before {width: 640px;height: 410px; top: 0;}
    .slider-screenshot-active .slick-slide{padding: 75px 0px;}
    .slider-screenshot-active .slick-slide .singel-screenshot{-webkit-transform: scale(1.16);transform: scale(1.16);}
    .slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform: scale(1.16);transform: scale(1.16);}
    .slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform: scale(1.50);transform: scale(1.50);}    
*/

    .slider-screenshot-text-block.banner-title-block h2{font-size: 28px;}
    .slider-screenshot-text-block.banner-title-block h1{font-size: 32px;}
    .btn-insGreen.landing-get-started{padding:8px 30px 10px 30px;margin-top: 15px;font-size: 18px;}

}

@media (max-width:1199px){
/*
    .slick-list{padding-top: 200px !important;}
    .slider-screenshot-active .slick-list.draggable::before{width: 670px;height: 430px;top: 255px;}
    .slider-screenshot-text-block.banner-title-block{bottom: -170px;}
*/
/*
    .slider-screenshot-active .slick-list.draggable::before {width: 635px;height: 400px; top: 0;}
    .slider-screenshot-active .slick-slide{padding: 102px 0px;}    
    .slider-screenshot-active .slick-slide .singel-screenshot{-webkit-transform: scale(1.55);transform: scale(1.55);}
    .slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform: scale(1.55);transform: scale(1.55);}
    .slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform: scale(2.0);transform: scale(2.0);}
*/
}

@media (max-width:991px){
/*
    .slick-list{padding-top: 160px !important;padding-bottom: 25px !important;}
    .slider-screenshot-active .slick-list.draggable::before {width: 735px;height: 464px;top: 150px;}
    .slider-screenshot-text-block.banner-title-block{bottom: -170px;}
    .btn-insGreen.landing-get-started {margin-top: 20px;font-size: 16px;line-height: normal;padding: 9px 30px 11px 30px;}
*/
    
    /*.slider-screenshort{top: 10%;}*/
    .slick-list{padding-bottom: 15px !important;}
    .slider-screenshot-active .slick-list.draggable::before {width: 575px;height: 365px; top: 0;}
    .slider-screenshot-active .slick-slide{padding: 90px 128px;}
/*
    .slider-screenshot-active .slick-slide .singel-screenshot{-webkit-transform: scale(1.96);transform: scale(1.96);}
    .slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform: scale(1.96);transform: scale(1.96);}
    .slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform: scale(2.51);transform: scale(2.51);}
*/
}

@media (max-width:767px){
/*
    .slider-screenshort{position: relative; z-index: 2;width: 100%;max-width: 481px;margin: 0 auto;}
    .slick-list{padding-top: 130px !important;padding-bottom: 50px !important;}
    .slider-screenshot-active .slick-list.draggable::before {width: 465px;height: 295px;top: 87px;}
    .slider-screenshot-text-block.banner-title-block{bottom: -138px;}
    .btn-insGreen.landing-get-started {margin-top: 10px;font-size: 12px;line-height: normal;padding: 8px 20px 10px 20px;}
*/
    .slider-screenshort{position: relative; top: -40px;width: 100%;max-width: 481px;margin: 0 auto;z-index: 2;}
    .slider-screenshot-active .slick-list.draggable::before {width: 390px;height: 247px; top: 0;}
    .slider-screenshot-active .slick-slide{padding: 76px 46px;}
    .slider-screenshot-active .slick-slide .singel-screenshot{-webkit-transform: scale(2.06);transform: scale(2.06);}
    .slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform: scale(2.06);transform: scale(2.06);}
    .slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform: scale(2.64);transform: scale(2.64);}
    .slider-screenshot-text-block.banner-title-block h2{font-size: 22px;}
    .slider-screenshot-text-block.banner-title-block h1{font-size: 26px;}    
    .slider-screenshot-text-block.banner-title-block{bottom: 0;}
	.slider.slider-for.slick-initialized.slick-slider.slick-dotted{padding-bottom: 0;}
	.slick-list {padding-bottom: 5px !important;}

}

@media (max-width:480px){
/*
    .slider-screenshort{position: relative; z-index: 2;width: 100%;max-width: 320px;margin: 0 auto;}
    .slick-list{padding-top: 110px !important;padding-bottom: 20px !important;}
    .slider-screenshot-active .slick-list.draggable::before {width: 325px;height: 207px;top: 95px;}
    .slider-screenshot-text-block.banner-title-block{bottom: -120px;}
*/
    .slick-list{padding-bottom: 5px !important;}
    .slider-screenshort{position: relative; top: -40px;width: 100%;max-width: 320px;margin: 0 auto;z-index: 2;}
    .slick-list.draggable {padding: 10px 0px !important;}
	.slider-screenshot-active .slick-list.draggable::before {width: 300px;height: 190px; top: 0;}
    .slider-screenshot-active .slick-slide{padding: 48px 96px 52px;}
    .slider-screenshot-active .slick-slide .singel-screenshot{-webkit-transform: scale(2.0);transform: scale(2.0);}
    .slider-screenshot-active .slick-slide.slick-active .singel-screenshot{-webkit-transform: scale(2.0);transform: scale(2.0);}
    .slider-screenshot-active .slick-slide.slick-center .singel-screenshot{-webkit-transform: scale(2.56);transform: scale(2.56);}
    .slider-screenshot-text-block.banner-title-block h2{font-size: 18px;}
    .slider-screenshot-text-block.banner-title-block h1{font-size: 20px;}
    .btn-insGreen.landing-get-started{padding: 8px 30px;margin-top: 10px;font-size: 14px;}
    .slick-dots li button{width: 10px; height: 10px;margin: 0 3px;}
}