
/*updated-2452020 strt*/
.hed-lgo-mnu-blk{display: flex; align-items: center;}
/*.wsmenu{position: relative;}
.newServ1{background: #f93737;color: #fff;padding: 1px 4px;border-radius: 4px;font-size: 9px;text-transform: uppercase;line-height: 14px;height: 16px;display: inline-block;position: relative;top: -1px;}
.wsmenu-submenu{width: 180px;padding: 5px 8px;}
.wsmenu-list > li{padding: 0;padding-left: 25px;}
.wsmenu-list > li > a{padding: 35px 0;}
.wsmenu-submenu li{border-bottom: 1px solid #eaeaec;}
.wsmenu-submenu li:last-child{border-bottom: 0 solid #eaeaec;}
.wsmenu-submenu li a{line-height: 18px;padding: 7px 0;font-size: 1.25rem;}
.wsmenu-submenu li a:hover{background: none !important;color: #00a79d !important;}
.wsmenu-list .megamenu li a:hover{text-decoration: none;}
.megamenu{min-height: 200px;}
.megamenu .title{border-bottom: 1px solid #eaeaec;padding-bottom: 8px;margin-bottom: 6px;font-size: 14px;}
.megacollink li a{font-size: 1.25rem;padding: 5px 0px;}
.wsmenu-list > li:last-child .wsmenu-submenu{right: 0;} */
.wsmenu-list > li{position: relative; padding: 23px 10px;}
.wsmenu-list .nwstl-srvs-mnu.halfdiv {width: 600px;right: -50px !important;left: inherit;}
.wsmenu-list .nwstl-srvs-mnu.halfdiv .megacollink{width: 50%;}
.wsmenu-list li.menu-signup-btn a{font-size: 13px !important;line-height: 26px;font-weight: 400;}
.wsmenu-list .nwstl-srvs-mnu h6{margin-bottom: 2px;font-weight: 600;font-size: 15px;line-height: 16px;}
.wsmenu-list .nwstl-srvs-mnu p{font-size: 1.3rem;padding: 0;margin-bottom: 0;}
.wsmenu-list .nwstl-srvs-mnu .megacollink li{margin-bottom: 5px;padding: 0;}
.wsmenu-list .nwstl-srvs-mnu .megacollink li a{padding: 10px; min-height: 115px;}
.wsmenu-list .nwstl-srvs-mnu .megacollink li a:hover{text-decoration: none;background: #00a79d !important;}
.wsmenu-list .nwstl-srvs-mnu .megacollink li a:hover h6,.nwstl-srvs-mnu .megacollink li a:hover p{color: #fff;}

.wsmenu>.wsmenu-list>li>ul.wsmenu-submenu {opacity: 0;visibility: hidden;-o-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-o-transition: -o-transform 0.3s, opacity 0.3s;-ms-transition: -ms-transform 0.3s, opacity 0.3s;-moz-transition: -moz-transform 0.3s, opacity 0.3s;-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;transform-style: preserve-3d;-o-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform: rotateX(-75deg);-o-transform: rotateX(-75deg);-moz-transform: rotateX(-75deg);-webkit-transform: rotateX(-75deg);}  
.wsmenu>.wsmenu-list>li.wsclickopen>ul.wsmenu-submenu {opacity: 1;visibility: visible;transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);}
.wsmenu>.wsmenu-list>li>ul.wsmenu-submenu>li>ul.wsmenu-submenu {opacity: 0;visibility: hidden;transform-style: preserve-3d;-o-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform: rotateX(-75deg);-o-transform: rotateX(-75deg);-moz-transform: rotateX(-75deg);-webkit-transform: rotateX(-75deg);}
.wsmenu>.wsmenu-list>li>ul.wsmenu-submenu>li.wsclickopen-sub>ul.wsmenu-submenu {opacity: 1;visibility: visible;-o-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-o-transition: -o-transform 0.4s, opacity 0.4s;-ms-transition: -ms-transform 0.4s, opacity 0.4s;-moz-transition: -moz-transform 0.4s, opacity 0.4s;-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);}
.wsmenu>.wsmenu-list>li>ul.wsmenu-submenu>li>ul.wsmenu-submenu>li>ul.wsmenu-submenu {opacity: 0;visibility: hidden;-o-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-o-transition: -o-transform 0.4s, opacity 0.4s;-ms-transition: -ms-transform 0.4s, opacity 0.4s;-moz-transition: -moz-transform 0.4s, opacity 0.4s;-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;transform-style: preserve-3d;-o-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform: rotateX(-75deg);-o-transform: rotateX(-75deg);-moz-transform: rotateX(-75deg);-webkit-transform: rotateX(-75deg);}
.wsmenu>.wsmenu-list>li>ul.wsmenu-submenu>li>ul.wsmenu-submenu>li.wsclickopen-sub-sub>ul.wsmenu-submenu {opacity: 1;visibility: visible;transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);}
.wsmenu>.wsmenu-list>li>.megamenu {opacity: 0;visibility: hidden;-o-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-o-transition: -o-transform 0.3s, opacity 0.3s;-ms-transition: -ms-transform 0.3s, opacity 0.3s;-moz-transition: -moz-transform 0.3s, opacity 0.3s;-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;transform-style: preserve-3d;-o-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform: rotateX(-75deg);-o-transform: rotateX(-75deg);-moz-transform: rotateX(-75deg);-webkit-transform: rotateX(-75deg);}
.wsmenu>.wsmenu-list>li.wsclickopen>.megamenu {opacity: 1;visibility: visible;transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);}
/********************/
/*updated-2452020 end*/
/* 
.wsmenu html,.wsmenu body,.wsmenu iframe,.wsmenu h1,.wsmenu h2,.wsmenu h3,.wsmenu h4,.wsmenu h5,.wsmenu h6{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;font-weight:400;font-size:12px;line-height:18px;font-family:Helvetica,sans-serif;-webkit-font-smoothing:subpixel-antialiased;font-smoothing:antialiased;font-smooth:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:subpixel-antialiased;font-smoothing:subpixel-antialiased;font-smooth:subpixel-antialiased}
.wsmenu .cl{clear:both}
.wsmenu img,object,embed,video{border:0 none;max-width:100%}
.wsmenu a:focus{outline:none}
.wsmenu:before,.wsmenu:after{content:"";display:table}
.wsmenu:after{clear:both}
.wsmenu{font-family:Helvetica,sans-serif;color:#fff;position:relative;font-size:15px;padding:0;width:100%;display:block;margin:0 auto;max-width:1200px}
.wsmenu>.wsmenu-list{text-align:left;margin:0 auto;width:100%;display:table;position:relative;padding:0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.wsmenu>.wsmenu-list>li{text-align:center;display:table-cell;padding:0;margin:0}
.wsmenu>.wsmenu-list>li>a{display:block;padding:0 13px;line-height:50px;text-decoration:none;position:relative}
.wsmenu>.wsmenu-list>li:first-child>a{-webkit-border-radius:3px 0 0 0;-moz-border-radius:3px 0 0;border-radius:3px 0 0 0}
.wsmenu>.wsmenu-list>li:last-child>a{border-right:0;-webkit-border-radius:0 3px 0 0;-moz-border-radius:0 3px 0 0;border-radius:0 3px 0 0}
.wsmenu>.wsmenu-list>li>a i{display:inline-block;font-size:14px;line-height:inherit;margin-right:8px}
.wsmenu>.wsmenu-list>li>a>.wsmenu-arrow{margin-right:0;float:right;margin-left:0;margin-right:0}
.wsmenu>.wsmenu-list>li>a.wshomelink i{margin-right:0;font-size:14px;padding:0 3px}
.wsmenu>.wsmenu-list>li>a .wsarrow:after{border-left:4px solid rgba(0,0,0,0);border-right:4px solid rgba(0,0,0,0);border-top:4px solid;content:"";float:right;height:0;margin:0 0 0 9px;position:absolute;text-align:right;top:22px;width:0}
.wsmenu>.wsmenu-list>li>ul.sub-menu{position:absolute;top:50px;z-index:1000;margin:0;padding:0;min-width:190px;background-color:#fff;border:solid 1px #eee}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li{position:relative;margin:0;padding:0;display:block}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a{background-image:none;color:#666;border-right:0 none;text-align:left;display:block;line-height:22px;padding:8px 12px;text-transform:none;font-size:13px;letter-spacing:normal;border-right:0 solid}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a:hover{text-decoration:none}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a>i{margin-right:9px}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu{min-width:220px;position:absolute;left:100%;top:0;margin:0;padding:0;list-style:none;background-color:#fff;border:solid 1px #eee}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li{position:relative;margin:0;padding:0;display:block}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a{background-image:none;color:#666;border-right:0 none;text-align:left;display:block;line-height:22px;padding:8px 12px;text-transform:none;font-size:13px;letter-spacing:normal;border-right:0 solid}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{text-decoration:none}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a>i{margin-right:9px}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu{min-width:220px;position:absolute;left:100%;top:0;margin:0;list-style:none;padding:0;background-color:#fff;border:solid 1px #eee}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li{position:relative;margin:0;padding:0;display:block}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a{background-image:none;color:#666;border-right:0 none;text-align:left;display:block;line-height:22px;padding:8px 12px;text-transform:none;font-size:13px;letter-spacing:normal;border-right:0 solid}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{text-decoration:none}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i{margin-right:9px}
.wsmenu>.wsmenu-list>li>.wsmegamenu{width:100%;left:0;position:absolute;top:50px;color:#000;z-index:1000;margin:0;text-align:left;padding:14px 5px;font-size:15px;border:solid 1px #eee;background-color:#fff}
.wsmenu>.wsmenu-list>li>.wsmegamenu .title{border-bottom:1px solid #CCC;font-size:14px;padding:9px 5px 9px 0;font-size:17px;color:#424242;margin:0 0 7px;text-align:left;height:39px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-control-next{opacity:.8}
.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-control-prev{opacity:.8}
.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-caption{bottom:0;background-color:rgba(0,0,0,0.7);font-size:13px;height:31px;left:0;padding:7px 0;right:0;width:100%}
.wsmenu>.wsmenu-list>li>.wsmegamenu .wsmwnutxt{width:100%;font-size:14px;text-align:justify;line-height:22px;color:#424242;margin-top:10px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .fluid-width-video-wrapper{margin-bottom:10px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li{display:block;text-align:center;white-space:nowrap;text-align:left}
.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li a{line-height:18px;border-right:none;text-align:left;padding:6px 0;background:#fff;background-image:none;color:#666;border-right:0 none;display:block;background-color:#fff;color:#424242}
.wsmenu>.wsmenu-list>li>.wsmegamenu li i{margin-right:5px;text-align:center;width:18px}
.wsmenu>.wsmenu-list>li>.wsmegamenu li a:hover{background:transparent;text-decoration:underline}
.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li i{font-size:11px}
.wsmenu>.wsmenu-list>li>.wsmegamenu li i{margin-right:5px;text-align:center;width:18px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .mrgtop{margin-top:15px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .show-grid div{padding-bottom:10px;padding-top:10px;background-color:#dbdbdb;border:1px solid #e7e7e7;color:#6a6a6a;margin:2px 0;font-size:13px}
.wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu{width:40%;right:auto;left:auto}
.wsmenu>.wsmenu-list>li>.wsmegamenu.halfdiv{width:35%;right:0;left:auto}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form{width:100%;display:block}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="text"]{width:100%;border:1px solid #e2e2e2;color:#000;font-size:13px;padding:8px 5px;margin-bottom:8px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form textarea{width:100%;border:1px solid #e2e2e2;color:#000;font-size:13px;padding:8px 5px;margin-bottom:8px;min-height:122px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"]{width:25%;display:block;height:32px;float:right;border:none;margin-right:15px;cursor:pointer;background-color:#e1e1e1;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"]{width:25%;display:block;height:32px;float:right;border:none;cursor:pointer;background-color:#e1e1e1;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-inner .item img{width:100%}
.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-caption{bottom:0;background-color:rgba(0,0,0,0.7);font-size:13px;height:31px;left:0;padding:7px 0;right:0;width:100%}
.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text{padding:0;font-size:14px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text ul{padding:0;margin:0}
.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text p{text-align:justify;line-height:24px;color:#656565}
.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text ul li{display:block;padding:2px 0;line-height:22px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text ul li a{color:#656565}
.wsmobileheader{display:none}
.overlapblackbg{opacity:0;visibility:hidden}
.wsmenu .wsmenu-click{display:none}
.wsmenu .wsmenu-click02{display:none}
.hometext{display:none}
@media only screen and (max-width: 991px) {
html{overflow:hidden;height:100%;-webkit-overflow-scrolling:touch}
body{height:100%;overflow-y:auto;overflow-x:hidden}
body.wsactive{overflow:hidden}
.wsmenu>.wsmenu-list>li>.wsmegamenu{display:none}
.wsmenu>.wsmenu-list>li>a.wshomelink i{padding:0}
.wsmenu>.wsmenu-list>li.wsclickopen>.wsmegamenu{display:block;animation:fade .8s}
.wsmenu>.wsmenu-list>li>ul.sub-menu{display:none}
.wsmenu>.wsmenu-list>li.wsclickopen>ul.sub-menu{display:block;animation:fade .8s}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu{display:none}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li.wsclickopen-sub>ul.sub-menu{display:block;animation:fade .8s}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu{display:none}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li.wsclickopen-sub-sub>ul.sub-menu{display:block;animation:fade .8s}
.wsmenu{width:100%;background:rgba(0,0,0,0) none repeat scroll 0 0;left:0;overflow-y:hidden;padding:0;top:0;visibility:hidden;position:fixed;margin:0}
.wsmenu>.wsmenu-list{height:auto;min-height:100%;width:240px;background:#fff;padding-bottom:0;margin-left:-240px;display:block;text-align:center;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;position:static}
.wsmenu>.wsmenu-list>li{width:100%;display:block;float:none;border-right:none;background-color:transparent;white-space:inherit}
}
.wsmenu>.wsmenu-list>li>a{padding:12px 17px;font-size:14px;text-align:left;border-right:solid 0;background-color:transparent;color:#666;line-height:25px;border-bottom:1px solid;border-bottom-color:rgba(0,0,0,0.13);position:static}
.wsmenu>.wsmenu-list>li:first-child>a{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.wsmenu>.wsmenu-list>li:last-child>a{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.wsmenu>.wsmenu-list>li>a>i{font-size:14px;color:#bfbfbf}
.wsmenu>.wsmenu-list>li>a .wsarrow:after{display:none}
.wsmenu>.wsmenu-list>li:hover>a{background-color:rgba(0,0,0,0.08);text-decoration:none}
.wsmenu>.wsmenu-list>li>a>.hometext{display:inline-block}
.wsmenu>.wsmenu-list>li>ul.sub-menu{position:relative;top:0;background-color:#fff;border:none;padding:0;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit;border-bottom:1px solid rgba(0,0,0,0.13)}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a{line-height:20px;font-size:13px;padding:10px 12px 10px 16px;color:#383838}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li span+a{padding-right:30px}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a>i{width:20px;padding:4px 7px;float:right;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);margin:0;font-size:16px}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a:hover{background-color:#e7e7e7;color:#666;text-decoration:underline}
.wsmenu>.wsmenu-list>li>ul.sub-menu li:hover>a{background-color:#e7e7e7;color:#666}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu{width:100%;position:static;left:100%;top:0;margin:0;padding:0;border:solid 0;transform:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li{margin:0;padding:0;position:relative}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a{line-height:20px;font-size:13px;padding:10px 12px 10px 26px;color:#383838}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li span+a{padding-right:30px}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a>i{width:20px;padding:4px 7px;float:right;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);margin:0;font-size:14px}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{background-color:#e7e7e7;color:#666;text-decoration:underline}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a.active{color:#000}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a{color:#000}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu{width:100%;position:static;left:100%;top:0;margin:0;padding:0;border:solid 0;transform:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li{margin:0}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a{line-height:20px;font-size:13px;padding:10px 0 10px 34px;color:#383838}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li span+a{padding-right:30px}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i{display:none}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{background-color:#e7e7e7;color:#666;text-decoration:underline}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a.active{color:#000}
.wsmenu>.wsmenu-list>li>.wsmegamenu{color:#666;position:relative;top:0;padding:10px 0;border:solid 0;transform:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit;border-bottom:solid 1px #DEDEDE}
.wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu{width:100%;margin:0;padding:0}
.wsmenu>.wsmenu-list>li>.wsmegamenu .title{color:#666;font-size:15px;padding:10px 8px 10px 0}
.wsmenu>.wsmenu-list>li>.wsmegamenu>ul{width:100%;margin:0;padding:0;font-size:13px}
.wsmenu>.wsmenu-list>li>.wsmegamenu>ul>li>a{padding:9px 14px;line-height:normal;font-size:13px;background-color:#e7e7e7;color:#666}
.wsmenu>.wsmenu-list>li>.wsmegamenu>ul>li>a:hover{background-color:#000}
.wsmenu>.wsmenu-list>li>.wsmegamenu ul li.title{line-height:26px;color:#666;margin:0;font-size:15px;padding:7px 0;background-color:transparent}
.wsmenu>.wsmenu-list>li>.wsmegamenu.halfdiv{width:100%}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form{padding:5px 0 62px}
.wsmenu>.wsmenu-list>li>.wsmegamenu .show-grid div{margin:0}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"]{width:46%}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"]{width:46%}
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form textarea{min-height:100px}
.wsmobileheader{width:100%;display:block;position:fixed;top:0;left:0;z-index:10002;height:54px;background-color:#eaecf0;text-align:center;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;box-shadow:0 0 1px rgba(0,0,0,.3)}
.wsactive .wsmobileheader{margin-left:240px;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.wsmobileheader .smllogo{display:inline-block;margin-top:12px}
.wsmobileheader .wssearch{background-color:transparent;z-index:1000;position:absolute;top:0;right:0;padding:14px 22px;cursor:pointer}
.wsmobileheader .wssearch i{font-size:19px;color:#6a717f}
.wsmobileheader .wssearchform{display:none;position:absolute;width:100%;height:50px;line-height:44px;top:0;left:0;padding:10px 15px;cursor:default}
.wsmobileheader .wssearch.wsopensearch{width:100%;background-color:#000}
.wsmobileheader .wssearch.wsopensearch .wssearchform{display:block}
.wsmobileheader .wssearchform form{width:calc((100% - 10px) - 45px);display:block;position:relative}
.wsmobileheader .wssearchform form:before{content:"\f002";font-family:"Font Awesome 5 Free";font-weight:900;left:12px;position:absolute;top:0;color:#777;height:34px;line-height:33px}
.wsmobileheader .wssearchform input{width:100%;height:34px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:solid 0;text-indent:33px;margin:0;line-height:18px;padding:0;display:block}
.wsmobileheader .wssearch.wsopensearch{left:0;right:auto;width:100%;height:54px}
.wsmobileheader .wssearch .wscloseicon{display:none}
.wsmobileheader .wssearch.wsopensearch .wscloseicon{display:inline-block;float:right;margin-top:3px}
.wsmobileheader .wssearch.wsopensearch .wssearchicon{display:none}
.wsanimated-arrow{position:absolute;left:0;top:0;z-index:102;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;cursor:pointer;padding:16px 35px 16px 0;margin:7px 0 0 15px}
.wsanimated-arrow span,.wsanimated-arrow span:before,.wsanimated-arrow span:after{cursor:pointer;height:2px;width:17px;background:#6a717f;position:absolute;display:block;content:''}
.wsanimated-arrow span:before{top:-7px;width:23px}
.wsanimated-arrow span:after{bottom:-7px;width:17px}
.wsanimated-arrow span,.wsanimated-arrow span:before,.wsanimated-arrow span:after{transition:all 500ms ease-in-out}
.wsactive .wsanimated-arrow span:after{width:23px}
.wsactive .wsanimated-arrow span{background-color:transparent}
.wsactive .wsanimated-arrow span:before,.wsactive .wsanimated-arrow.active span:after{top:7px}
.wsactive .wsanimated-arrow span:before{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);bottom:0}
.wsactive .wsanimated-arrow span:after{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.overlapblackbg{right:0;width:calc(100% - 240px);height:100vh;min-height:100%;position:fixed;top:0;opacity:0;visibility:hidden;background-color:rgba(0,0,0,0.45);cursor:pointer}
.wsactive .wsmenu .overlapblackbg{opacity:1;visibility:visible;-webkit-transition:opacity 1.5s ease-in-out;-moz-transition:opacity 1.5s ease-in-out;-ms-transition:opacity 1.5s ease-in-out;-o-transition:opacity 1.5s ease-in-out}
.wsmenucontainer{-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.wsactive .wsmenucontainer{margin-left:240px;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.wsactive .wsmenu{overflow-y:scroll;-webkit-overflow-scrolling:touch;visibility:visible;z-index:1000;top:0}
.wsactive .wsmenu>.wsmenu-list{-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;margin-left:0}
.wsmenu>.wsmenu-list>li>.wsmenu-click{height:49px;position:absolute;top:0;right:0;display:block;cursor:pointer;width:100%}
.wsmenu>.wsmenu-list>li .wsmenu-click.ws-activearrow>i{transform:rotate(-45deg);margin-top:23px}
.wsmenu>.wsmenu-list>li>.wsmenu-click>i{display:block;height:8px;width:8px;float:right;transform:rotate(-225deg);margin:18px 18px 0 0}
.wsmenu>.wsmenu-list>li>.wsmenu-click>i:before{content:"";width:100%;height:100%;border-width:1.5px 1.5px 0 0;border-style:solid;border-color:rgba(0,0,0,0.40);transition:.2s ease;display:block;transform-origin:100% 0}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li .wsmenu-click02{height:41px;position:absolute;top:0;right:0;display:block;cursor:pointer;width:100%}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li .wsmenu-click02>i{display:block;height:8px;width:8px;float:right;transform:rotate(-225deg);margin:14px 18px 0 0}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li .wsmenu-click02>i:before{content:"";width:100%;height:100%;border-width:1.5px 1.5px 0 0;border-style:solid;border-color:rgba(0,0,0,0.40);transition:.2s ease;display:block;transform-origin:100% 0}
.wsmenu>.wsmenu-list>li>ul.sub-menu>li .wsmenu-click02>i.wsmenu-rotate{transform:rotate(-45deg);margin-top:19px}
@keyframes fade {
0%{opacity:0}
100%{opacity:1}
} */

/*old*/
header .container{position: relative;}
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.cl{clear:both;}
.wsmenuexpandermain{position:relative;}
.overlapblackbg{display:none;}
.sr-megamenu-block{float: left; width: 100%; margin: 0; padding: 0; position: relative;
    background: rgba(255,102,0,1);
    background: -moz-linear-gradient(-45deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,102,0,1)), color-stop(25%, rgba(255,102,0,0.92)), color-stop(70%, rgba(189,24,112,0.78)), color-stop(100%, rgba(189,24,112,0.68)));
    background: -webkit-linear-gradient(-45deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
    background: linear-gradient(135deg, rgba(255,102,0,1) 0%, rgba(255,102,0,0.92) 25%, rgba(189,24,112,0.78) 70%, rgba(189,24,112,0.68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#bd1870', GradientType=1 );
}
.wsmenu{color:#fff;position:absolute;padding:0px;margin:0px auto;width:100%;}
.wsmenu{position: relative;}
.wsmenu-list{text-align:left;margin:0 auto 0 auto;width:auto;display:table;padding:0px; float: right;}
.wsmenu-list > li{text-align:center;display:table-cell;padding: 15px 10px;}
.wsmenu-list li:first-child a{}
.wsmenu-list li:last-child a{}
.wsmenu-list > li > a .fa{display:inline-block;font-size:16px;line-height:inherit;margin-right:0px;}
.wsmenu-list li ul li a .fa.fa-angle-double-right{font-size:12px;margin:0 3px 0 -4px;}
.wsmenu-list li a .arrow:after{content:"\f078";font-family:"Font Awesome 5 Free"; font-weight: 900; float:right;height:0;margin:0 0 0 4px;position:absolute;text-align:right;top:1px;width:0; font-size: 10px;}
.wsmenu-list > li > a{display:block;color:#314451;padding:11px 5px;line-height:normal;border-right:0px solid rgba(255,255,255,0.25);text-decoration:none; font-weight: 400; font-size: 16px; letter-spacing: 0;}
.wsmenu-list li:first-child a{border-left:1px solid rgba(255,255,255,0.25);}

/*.wsmenu-list li:first-child a{background-color:#fee70f;}
.wsmenu-list li:nth-child(2) a{background-color:#84bd36;}
.wsmenu-list li:nth-child(3) a{background-color:#e02c7d;}
.wsmenu-list li:nth-child(4) a{background-color:#ef5536;}
.wsmenu-list li:last-child a{background-color:#e31a44;}*/

.wsmenu-list li a:hover .arrow:after{border-top-color:#b3b3b3}
.wsmenu-list li a.active .arrow:after{border-top-color:#b3b3b3}
.wsmenu-list li:hover>a .arrow:after{border-top-color:#b3b3b3}
.megamenu iframe{width:100%;margin-top:10px;min-height:200px;}
.megamenu video{width:100%;margin-top:10px;min-height:200px;}
.wsmenu-list li:hover .megamenu{opacity:1; visibility: visible; -o-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%; -webkit-transform-origin: 0% 0%; -o-transition: -o-transform 0.3s, opacity 0.3s; -ms-transition: -ms-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; transform-style: preserve-3d; -o-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform: rotateX(0deg); -o-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -webkit-transform: rotateX(0deg);}
.megamenu{width:100%;left:0px;position:absolute;top:100%;color:#000;z-index:1000;margin:0px;text-align:left;padding:0;font-size:15px;border:solid 0px #eeeeee;background-color:#fff;opacity:0;-o-transform-origin:0% 0%;-ms-transform-origin:0% 0%;-moz-transform-origin:0% 0%;-webkit-transform-origin:0% 0%;-o-transition:-o-transform 0.3s;-ms-transition:-ms-transform 0.3s;-moz-transition:-moz-transform 0.3s;-webkit-transition:-webkit-transform 0.3s; min-height: 270px; box-shadow: 0 0 20px rgba(0,0,0,0.1); border-top: 2px solid #00a79d;}
.megamenu .title{border-bottom:1px solid #ececec;font-size:15px;padding:10px 0 5px 0;color:#314451;margin-top: 5px; margin-bottom:10px;text-align:left;height:auto; font-family:'Muli'; font-weight: 600; text-transform:none; letter-spacing: 0; width: 100%;}
.megacollink li:first-child.title{border-top: 0; padding-top: 0; margin-top: 0;}
.megacollink{width:25%;float:left;margin:0; padding: 15px; position: relative;}
.megacollink li{display:block;text-align:center;white-space:normal;text-align:left; float: left; width: 100%;}
.wsmenu-list li.hphone-no{position: relative;}
.megacollink li a{line-height:18px;text-align:left;padding:8px 0px 8px 8px;display:block; color:#314451; font-family:'Muli'; font-weight: 400; font-size: 14px; letter-spacing: 0;}
.megacollink .fa{font-size:11px;}
.megacolimage{width:31.33%;float:left;margin:0% 1%;}
.typographydiv{width:100%;margin:0% 0%;}
.typographylinks{width:25%;float:left;margin:0% 0%;}
.mainmapdiv{width:100%;display:block;margin:0% 0%;}
.wsmenu-list .ad-style{width:28%;float:right;}
.wsmenu-list .ad-style a{border:none !important;padding:0px !important;margin:0px !important;line-height:normal !important;background-image:none !important;}
.mobile-sub .megamenu .ad-style a:hover{background-color:transparent !important;}
.wsmenu-list .megamenu li:hover>a{background:transparent !important;}
.wsmenu-list .megamenu li a:hover{background:transparent !important;text-decoration:underline;}
.wsmenu-list .megamenu li .fa{margin-right:5px;text-align:center;width:18px;}
.mrgtop{margin-top:15px;}
.show-grid div{padding-bottom:10px;padding-top:10px;background-color:#dbdbdb;border:1px solid #e7e7e7;color:#6a6a6a;margin:2px 0px;}
.halfdiv{width:35%;right:0px !important;left:auto;}
.menu_form{width:100%;display:block;}
.menu_form input[type="text"]{width:100%;border:1px solid #e2e2e2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#000;font-size:13px;padding:8px 5px;margin-bottom:8px;}
.menu_form textarea{width:100%;border:1px solid #e2e2e2;border-radius:5px;color:#000;font-size:13px;padding:8px 5px;margin-bottom:8px;min-height:122px;}
.menu_form input[type="submit"]{width:25%;display:block;height:28px;float:right;border:solid 1px #ccc;margin-right:15px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.menu_form input[type="button"]{width:25%;display:block;height:28px;float:right;border:solid 1px #ccc;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.megamenu .left.carousel-control{padding-top:20%;}
.megamenu .right.carousel-control{padding-top:20%;}
.carousel-inner .item img{width:100%;}
.megamenu .carousel-caption{bottom:0px;background-color:rgba(0,0,0,0.7);font-size:13px;height:31px;left:0;padding:7px 0;right:0;width:100%;}
.wsmenu-list li > .wsmenu-submenu{transform-style:preserve-3d;-o-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:rotateX(-90deg);-o-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);-webkit-transform:rotateX(-90deg);visibility:hidden;}
.wsmenu-list li:hover > .wsmenu-submenu{transform:rotateX(0deg);-o-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-webkit-transform:rotateX(0deg);opacity:1;visibility:visible;}
.wsmenu-submenu li > .wsmenu-submenu-sub{transform-style:preserve-3d;-o-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:rotateX(-90deg);-o-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);-webkit-transform:rotateX(-90deg);visibility:hidden;}
.wsmenu-submenu li:hover > .wsmenu-submenu-sub{transform:rotateX(0deg);-o-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-webkit-transform:rotateX(0deg);opacity:1;visibility:visible;}
.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub{transform-style:preserve-3d;-o-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:rotateX(-90deg);-o-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);-webkit-transform:rotateX(-90deg);visibility:hidden;}
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{transform:rotateX(0deg);-o-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-webkit-transform:rotateX(0deg);opacity:1;visibility:visible;}
.wsmenu-list li > .megamenu{transform-style:preserve-3d;-o-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:rotateX(-90deg);-o-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);-webkit-transform:rotateX(-90deg);visibility:hidden;}
/* .wsmenu-list li:hover > .megamenu{transform:rotateX(0deg);-o-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-webkit-transform:rotateX(0deg);opacity:1;visibility:visible;} */
.wsmenu-submenu{position:absolute;top:100%;z-index:1000;margin:0px;padding:4px;border:solid 1px #eeeeee;background-color:#fff;opacity:0;-o-transform-origin:0% 0%;-ms-transform-origin:0% 0%;-moz-transform-origin:0% 0%;-webkit-transform-origin:0% 0%;-o-transition:-o-transform 0.3s;-ms-transition:-ms-transform 0.3s;-moz-transition:-moz-transform 0.3s;-webkit-transition:-webkit-transform 0.3s; box-shadow: 0 0 20px rgba(0,0,0,0.1);border-top: 2px solid #00a79d; width: 170px;}
.wsmenu-submenu li a{background:#fff !important;background-image:none !important;color:#314451 !important;border-right:0 none !important;text-align:left;display:block;line-height:22px;padding:6px 12px;text-transform:none;font-size:14px;letter-spacing:normal;border-right:0px solid;}
.wsmenu-submenu li{position:relative;margin:0px;padding:0px;}
.wsmenuexpandermain{display:none;}
.wsmenu-list li:hover ul.wsmenu-submenu{/*display:block;*/ opacity:1; visibility: visible; -o-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%; -webkit-transform-origin: 0% 0%; -o-transition: -o-transform 0.3s, opacity 0.3s; -ms-transition: -ms-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; transform-style: preserve-3d; -o-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform: rotateX(0deg); -o-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -webkit-transform: rotateX(0deg);}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub{min-width:220px;position:absolute;left:100%;top:0;margin:0px;padding:0px;opacity:0;-o-transform-origin:0% 0%;-ms-transform-origin:0% 0%;-moz-transform-origin:0% 0%;-webkit-transform-origin:0% 0%;-o-transition:-o-transform 0.4s, opacity 0.4s;-ms-transition:-ms-transform 0.4s, opacity 0.4s;-moz-transition:-moz-transform 0.4s, opacity 0.4s;-webkit-transition:-webkit-transform 0.4s, opacity 0.4s;}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{opacity:1;list-style:none;padding:4px;border:solid 1px #eeeeee;background-color:#fff;}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{display:block;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub .wsmenu-submenu-sub-sub{min-width:220px;position:absolute;left:100%;top:0;margin:0px;padding:0px;opacity:0;-o-transform-origin:0% 0%;-ms-transform-origin:0% 0%;-moz-transform-origin:0% 0%;-webkit-transform-origin:0% 0%;-o-transition:-o-transform 0.4s, opacity 0.4s;-ms-transition:-ms-transform 0.4s, opacity 0.4s;-moz-transition:-moz-transform 0.4s, opacity 0.4s;-webkit-transition:-webkit-transform 0.4s, opacity 0.4s;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub{opacity:1;list-style:none;padding:4px;border:solid 1px #eeeeee;background-color:#fff;}
.wsmenu-submenu li{position:relative;padding:0px;margin:0px;display:block;}
.wsmenu-click{display:none;}
 .wsmenu-list li:hover>a{text-decoration:none; color: #00a79d;}
.wsmenu-list > li > a:hover{text-decoration:none; color: #00a79d;}
.wsmenu-list > li > a.active{text-decoration:none; color: #00a79d;}
.wsmenu-submenu > li > a:hover{background-color:rgba(0,0,0,0.08) !important;border-radius:0px!important;text-decoration:none;text-decoration:none; color: #00a79d;}
.typography-text{padding:0px 0px;font-size:15px;}
.typography-text p{text-align:justify;line-height:24px;color:#656565;}
.typography-text ul li{display:block;padding:3px 0px;line-height:22px;}
.typography-text ul li a{color:#656565;}
.hometext{display:none;}
.wsmenu-submenu .fa{margin-right:7px;}
@media only screen and (min-width:767px) and (max-width:1023px){.wsmenu-list > li > a > .fa{display:none !important;}
.hometext{display:block !important;}
.wsmenu{font-size:13px !important;}
.wsmenu-list li a{white-space:normal!important;padding-left:4px !important;padding-right:4px !important;}
.megacollink{width:25%;margin:0;}
.typographylinks{width:20%;margin:0;}
}
@media only screen and (min-width:768px) and (max-width:1200px){.wsmenu-list li a .arrow:after{display:none !important;}
}
@media only screen and (max-width:767px){.wsmenu-list > li:hover>a{text-decoration:none;}
.hometext{display:inline-block !important;}
.megacollink{width:96% !important;margin:0% 2% !important;}
.megacolimage{width:90% !important;margin:0% 5% !important;}
.typographylinks{width:98% !important;margin:0% 1% !important;}
.typographydiv{width:86% !important;margin:0% 7% !important;}
.mainmapdiv{width:90% !important;margin:0% 5% !important;}
.overlapblackbg{left:0;z-index:100;width:100%;height:100%;position:fixed;top:0;display:none;background-color:rgba(0, 0, 0, 0.45);cursor:pointer;}
.overlapblackbg.menuopen{display:block;}
 .wsmenu-submenu > li:hover>a{color:#314451;}
.wsmenu > .wsmenu-list > li > a.active{color:#314451;}
.wsmenu > .wsmenu-list > li > a:hover{color:#314451;}
.wsmenu-list li:hover .wsmenu-submenu{display:none;}
.wsmenu-list li:hover .wsmenu-submenu .wsmenu-submenu-sub{display:none;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub{display:none;list-style:none;padding:4px;border:solid 1px #eeeeee;background-color:#fff;}
.wsmenu-list li:first-child a{-webkit-border-radius:0px 0px 0px 0px;-moz-border-radius:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}
.wsmenu-list li:last-child a{-webkit-border-radius:0px 4px 0px 0px;-moz-border-radius:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;border-right:0px solid;}
.innerpnd{padding:0px !important;}
.typography-text{padding:10px 0px;}
.wsmenucontainer{overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;min-height:800px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.wsmenuexpandermain{display:block !important;z-index:101;top:0;right:0;left:0;}
.wsmenu-click{position:absolute;top:0;right:0;display:block;cursor:pointer;}
.wsmenu-click i{display:block;height:23px;width:25px;margin-top:11px;margin-right:8px;background-size:25px;font-size:21px;color:rgba(0,0,0,0.25);}
.wsmenu-rotate{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.wsmenu-submenu-sub{width:100% !important;position:static !important;left:100% !important;top:0 !important;display:none;margin:0px !important;padding:0px !important;border:solid 0px !important;transform:none !important;opacity:1 !important;visibility:visible !important;}
.wsmenu-submenu-sub li{margin:0px 0px 0px 0px !important;padding:0px;position:relative;}
.wsmenu-submenu-sub a{display:block;padding:10px 25px 10px 25px;border-bottom:solid 1px #ccc;font-weight:normal;}
.wsmenu-submenu-sub li a.active{color:#000 !important;}
.wsmenu-submenu-sub li:hover>a{background-color:#333333 !important;color:#fff;}
.wsmenu-list > li > a .fa{margin-right:6px;}
.wsmenu-submenu-sub-sub{width:100% !important;position:static !important;left:100% !important;top:0 !important;display:none;margin:0px !important;padding:0px !important;border:solid 0px !important;transform:none !important;opacity:1 !important;visibility:visible !important;}
.wsmenu-submenu-sub-sub li{margin:0px 0px 0px 0px !important;}
.wsmenu-submenu-sub-sub a{display:block;color:#000;padding:10px 25px;background:#000 !important;border-bottom:solid 1px #ccc;font-weight:normal;}
.wsmenu-submenu-sub-sub li a.active{color:#000 !important;}
.wsmenu-submenu-sub-sub li:hover>a{background-color:#606060 !important;color:#fff;}
.wsmenu{position:relative;}
.wsmenu .wsmenu-list{height:100%;overflow-y:auto;display:block !important;}
.wsmenu .wsmenu-list > li{width:240px;display:block;float:none;border-right:none;background-color:transparent;position:relative;white-space:inherit;}
.wsmenu > .wsmenu-list > li > a{padding:9px 0 9px 0;font-size:14px;text-align:left;border-right:solid 0px;background-color:transparent;color:#314451;line-height:25px;border-bottom:1px solid;border-bottom-color:rgba(0,0,0,0.13);}
.wsmenu > .wsmenu-list > li > a > .fa{font-size:16px;color:#bfbfbf;}
.wsmenu .wsmenu-list li a .arrow:after{display:none !important;}
.wsmenu .wsmenu-list li ul li a .fa.fa-caret-right{font-size:12px !important;color:#8E8E8E;}
.mobile-sub .wsmenu-submenu{transform:none !important;opacity:1 !important;display:none;position:relative !important;top:0px;background-color:#fff;border:solid 1px #ccc;padding:0px;visibility:visible !important;}
.mobile-sub .wsmenu-submenu li a{line-height:20px;height:36x;background-color:rgba(0,0,0,0) !important;font-size:13px !important;padding:8px 0px 8px 18px;color:#8E8E8E;}
.mobile-sub .wsmenu-submenu li a:hover{background-color:rgba(0,0,0,0) !important;color:#314451;text-decoration:underline;}
.mobile-sub .wsmenu-submenu li:hover>a{background-color:rgba(0,0,0,0) !important;color:#314451;}
.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li a{line-height:20px;height:36x;background-color:rgba(0,0,0,0) !important;border-bottom:none;padding-left:28px;}
.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li .wsmenu-submenu-sub-sub li a{line-height:20px;height:36x;background-color:rgba(0,0,0,0) !important;border-bottom:none !important;padding-left:38px;color:#8e8e8e;}
.mrginleft{margin-left:0;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.mrginleft .wsmenuexpandermain.slideRight{margin-left: 240px; -webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.mrginleft .wsmenuexpandermain.slideRight span:before, .mrginleft .wsmenuexpandermain.slideRight span:after{background: #fff;}
.wsmenu-list .megamenu{background-color:rgba(0,0,0,0);color:#314451;display:none;position:relative !important;top:0px;padding:0px;border:solid 0px;transform:none !important;opacity:1 !important;visibility:visible !important;}
.wsmenu-list li:hover .megamenu{display:none;position:relative !important;top:0px;}
.megamenu .title{color:#314451;font-size:15px !important;padding:10px 8px 10px 0px;}
.halfdiv .title{padding-left:15px;}
.megamenu > ul{width:100% !important;margin:0px;padding:0px;font-size:13px !important;}
.megamenu > ul > li > a{padding:9px 14px !important;line-height:normal !important;font-size:13px !important;background-color:rgba(0,0,0,0) !important;color:#314451;}
.megamenu > ul > li > a:hover{background-color:#000000 !important;}
.ad-style{width:100% !important;}
.megamenu ul li.title{line-height:26px;color:#333;margin:0px;font-size:14px;padding:7px 0 !important;border-bottom:1px solid #ccc;background-color:transparent !important; height: auto;}
.halfdiv{width:100%;display:block;}
.menu_form{padding:10px 10px 63px 10px;background-color:#e7e7e7;}
.menu_form input[type="button"]{width:46%;}
.menu_form input[type="submit"]{width:46%;}
.menu_form textarea{min-height:100px;}
.wsmenu{width:0px;height:100%;position:fixed;left:0;top:0;margin:0;background-color:#fff;border-radius:0px;z-index:100;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;border:none !important;}
.wsmenu.menuopen{width:240px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
 .wsmenu.menuclose{-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
 .wsmenucontent{z-index:100;}
 .animated-arrow{position:absolute;left:0;top:0;}
.animated-arrow{cursor:pointer;padding:10px 35px 16px 0px;margin:0;top: 14px;left: 0;}
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after{cursor:pointer;height:2px;width:23px;background:#314451;position:absolute;display:block;content:'';}
.animated-arrow span:before{top:-7px;}
.animated-arrow span:after{bottom:-7px;}
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after{transition:all 500ms ease-in-out;}
.animated-arrow.menuopen span{background-color:transparent;}
.animated-arrow.menuopen span:before, .animated-arrow.active span:after{top:7px;}
.animated-arrow.menuopen span:before{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);bottom:0px;}
.animated-arrow.menuopen span:after{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.wsmenu-list li > .wsmenu-submenu{transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;visibility:visible !important;}
.wsmenu-list li:hover > .wsmenu-submenu{transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;visibility:visible !important;}
.wsmenu-submenu li > .wsmenu-submenu-sub{transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;visibility:visible !important;}
.wsmenu-submenu li:hover > .wsmenu-submenu-sub{transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;visibility:visible !important;opacity:1 !important;}
.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub{transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;visibility:visible !important;opacity:1 !important;}
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;visibility:visible !important;opacity:1 !important;}
.wsmenu-list li > .megamenu{transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;visibility:visible !important;opacity:1 !important;}
.wsmenu-list li:hover > .megamenu{transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;transform:none !important;-o-transform:none !important;-moz-transform:none !important;-webkit-transform:none !important;visibility:visible !important;opacity:1 !important;}
}

.megacolimgblock.megacollink{position: absolute; top: 0; right: 0; width: 100%; max-width: 230px; height: 100%;}
.megacolimgblock .casuals-img{position: absolute;float: left;width: 100%;margin: 0;padding: 0;overflow: hidden;height: 100%;top: 0;left: 0;}
.megacolimgblock .casuals-img:before{
    content: ''; position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.casuals-img img{position: absolute;top: 0;left: 50%;transform: translate(-50%, 0); height: 100%;}

.wsmenu-list li.menu-login-btn a{line-height: normal;border: 2px solid #354855;border-radius: 5px;display: inline-block;padding: 5px 20px;font-weight: bold;font-size: 16px;letter-spacing: 0.5px;color: #354855; transition: all 200ms ease-in-out 0s;background: none;}
.wsmenu-list li.menu-login-btn a:hover {color: #fff;background: #00a79d;border: 2px solid #00a79d;}

.wsmenu-list li.menu-signup-btn a{line-height: normal;border: 2px solid #00a79d;border-radius: 5px;display: inline-block;padding: 5px 20px;font-weight: bold;font-size: 14px;letter-spacing: 0.5px;color: #fff; transition: all 200ms ease-in-out 0s;background: #00a79d;}
.wsmenu-list li.menu-signup-btn a:hover {color: #354855;background: none;border: 2px solid #354855;}
.slider-screenshort img { width: 100% !important;}

@media (max-width:1199px){    
    .megamenu{top: 100%;}
    .megacolimgblock.megacollink{margin: 0;}
    .megamenu .title{font-size: 16px; line-height: normal; height: 24px;}
	.wsmenu-list li .megamenu ul li a{font-size: 16px;}
    .wsmenu-list > li > a{line-height: normal;font-size: 14px;padding: 7px 5px;}
    .wsmenu-list li .megamenu ul li a{border-left: 0; padding: 4px 0 !important;}
    .wsmenu-list li:first-child .megamenu ul li a{border-left: 0; padding: 4px 0 !important;}
	.megacollink li a{font-size: 13px;}
    .wsmenu-list > li{padding: 5px 10px;}
}

@media (max-width:991px){
    .megamenu{top: 100%;}
    .wsmenu{top: 0;}
    .navbar-brand > img{width: 180px;}
    .wsmenu-list li.menu-login-btn a, .wsmenu-list li.menu-signup-btn a{font-size: 13px;}
    .megamenu .title{font-size: 13px;}
	.wsmenu-list li .megamenu ul li a{font-size: 13px;}
    .megacollink li a{font-size: 10px;}
    .navbar.navbar-default{text-align: left !important;}

    /*362020*/
    .hed-lgo-mnu-blk .wsmenu.slideLeft{height: auto !important;}
    .wsmenu-list .nwstl-srvs-mnu.halfdiv {width: 600px;right: 0 !important;left: -175px;}
    .wsmenu-list .nwstl-srvs-mnu p{font-size: 12px;}
}

@media (max-width:767px){
    .wsmenucontainer{overflow:inherit;}
    .megacolimgblock.megacollink{display: none;}
    .megamenu{min-height: inherit;}
    .megamenu > ul{margin: 0 0 2% 0 !important;padding: 0 10px !important;}
    .wsmenu-list li .megamenu ul li a{padding: 5px 0 !important;}
    .navbar.navbar-default{text-align: center !important;}
    .navbar-header{padding: 2px 0 2px 0 !important;text-align: center !important;}
    .wsmenu-list > li{padding: 0 10px;}
    .wsmenu .wsmenu-list li.menu-login-btn, .wsmenu .wsmenu-list li.menu-signup-btn{float: left; width: 50%; text-align: left; margin-top: 10px;}
    .wsmenu .wsmenu-list li a span{float: right;}
    .wsmenu-list .megamenu{box-shadow: none;}
    .mobile-sub .wsmenu-submenu{box-shadow: none;border: solid 0 #ccc;}

    /*362020*/
    /* .wsactive .wsmenucontainer {margin-left: 240px;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;} */
    .wsmenu>.wsmenu-list{height:100%;min-height:100vh;width:240px;background:#fff;padding-bottom:0;margin-left:-240px;display:block;text-align:center;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;position:static;float:left}
    .wsactive .wsmenu>.wsmenu-list{-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;margin-left:0;z-index:101;position:relative}
    .wsmenu{width:100%;background:rgba(0,0,0,0) none repeat scroll 0 0;left:0;overflow-y:hidden;padding:0;top:0;visibility:hidden;position:fixed;margin:0}
    .wsactive .wsmenu{overflow-y:scroll;-webkit-overflow-scrolling:touch;visibility:visible;z-index:1000;top:0}
    .wsactive .wsmenu .overlapblackbg{opacity:1;visibility:visible;-webkit-transition:opacity 1.5s ease-in-out;-moz-transition:opacity 1.5s ease-in-out;-ms-transition:opacity 1.5s ease-in-out;-o-transition:opacity 1.5s ease-in-out}
    .wsactive .wsmenu.slideLeft .overlapblackbg{display: block;}
    .wsactive .wsmenu.slideLeft .overlapblackbg::before {content: "\f2d7";font-family: "Ionicons";position: absolute;left: 250px;top: 10px;font-size: 30px;}
    .wsmenu .wsmenu-list li.menu-login-btn, .wsmenu .wsmenu-list li.menu-signup-btn{width: 100%;}
    .wsmenu>.wsmenu-list>li.wsclickopen>.megamenu {opacity: 1;visibility: visible;transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);}
    .wsmenu>.wsmenu-list>li.wsclickopen>.megamenu {display: block;animation: fade 0.8s;}
    
    .wsmenu>.wsmenu-list>li.wsclickopen>ul.wsmenu-submenu {opacity: 1;visibility: visible;transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);}
    .wsmenu>.wsmenu-list>li.wsclickopen>ul.wsmenu-submenu {display: block;animation: fade 0.8s;}
    .wsmenu-list .nwstl-srvs-mnu.halfdiv {width: 100%;right: 0 !important;left: 0;}
    .wsactive .megamenu ul{padding: 0 5px!important;}
    .hed-lgo-mnu-blk .wsmenu.slideLeft {height: 100% !important;}
    .wsmenu-list li .megamenu ul li a{border-left: 0; padding: 5px !important;}
    .wsmenu-list li:first-child .megamenu ul li a{border-left: 0; padding: 5px !important;min-height: inherit;}

}
.wsmenu-list li.menu-signup-btn a{font-size:16px ;}.wsmenu{top:0px;}

@media (max-width:992px){
    .header-top .newService{font-size:9px;}
    .header-top .text{font-size:11px;}
    .home-testimonials-section .services-slide .media-body p{padding:100px 25px 70px 25px !important;}
    .NW-ins-HIW-content-block ul li{padding:10px;}
    .mediaul img{width:80%;}
    .singel-screenshot .new-icon-banner{width:20px !important;}
    .slider-screenshot-text-block-free h2 span {padding: 1px 16px 4px;font-size: 16px;}
}